.badge {
  padding: 0.25em 0.85em;
  font-weight: bold;
}

.square {
  border-radius: 0.25em;
}

.pill {
  border-radius: 0.85em;
}

.gray {
  color: #1f2937;
  background: #f3f4f6;
}

.red {
  color: #991b1b;
  background: #fee2e2;
}

.yellow {
  color: #92400e;
  background: #fef3c7;
}

.green {
  color: #065f46;
  background: #d1fae5;
}

.blue {
  color: #1e40af;
  background: #dbeafe;
}

.indigo {
  color: #3730a3;
  background: #e0e7ff;
}

.purple {
  color: #5b21b6;
  background: #ede9fe;
}

.pink {
  color: #9d174d;
  background: #fce7f3;
}
